{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSMARTPH | Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\home.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Poppins:wght@600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;800&family=Fredoka&family=Poppins:wght@600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Fredoka&family=Poppins:wght@600&display=swap" rel="stylesheet">

</head>

<body>
    <form action="dashboard" method="post"></form>
        {% csrf_token %}
    </form>
    <header>
        <div class="logo"><span><i class="ri-plant-line"></i>iSMARTPH</span>
        </div>

        <ul class="navbar">
            <li><a href="{% url 'home' %}" class="active">Dashboard</a></li>
            <li><a href="{% url 'crops' %}">My Crops</a></li>
        </ul>


        <div class="main">
            <div class="current_user">
                <p>{{fName}} {{lName}} {{e}}</p>
            </div>
            <a href="{% url 'logout' %}" class="logout"><i class='bx bx-log-in'></i></a>
        </div>

        <script>
            window.addEventListener('load', () => {
                 // Get the current_user container
            const current_user = document.querySelector('.current_user');
        
            // Get the <p> element that contains the user's name
            const userName = current_user.querySelector('p');
        
            // Calculate the width based on the text length
            const textWidth = userName.offsetWidth;
        
            // Adjust the container width based on the text width
            current_user.style.minWidth = textWidth + 'px';
        });
        </script>

    </header>

    <br><br><br><br>

    <div class="container mt-5">
        <div class="head-title">
            <h1>Dashboard</h1>
            <h3 id="greeting"></h3>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
            // Get the current time
            var now = new Date();
            var hours = now.getHours();

            // Define the greeting messages
            var greeting;

            if (hours >= 5 && hours < 12) {
                greeting = "Good morning";
            } else if (hours >= 12 && hours < 17) {
                greeting = "Good afternoon";
            } else {
                greeting = "Good evening";
            }

            // Update the greeting message on the page
            $("#greeting").text("Hi {{fName}}, " + greeting+"!");
        }
    );
    </script>

     <!-- Move the container below the header -->
     <div class="container mt-4">
        <div class="row">
            <div class="col-sm-12">
                <!-- First container content -->
                    <h1>Welcome to iSMARTPH!
                    <p>Experience the most convenient way to manage your small farm with the help of iSMARTPH</p></h1>
            </div>
        </div>
        
    <div class="row mt-4">
        <h3>Explore iSMARTPH Features</h3>
    </div>


    <div class="row mt-4">

        <div class="card col-md-4 mb-4">
            <h1>My Crops</h1>
            <p>Explore how you can digitally manage your small farm using iSMARTPH</p>
        </div>
        
        <div class="card col-md-4 mb-4">
            <h1>Growth Rate</h1>
            <p>This is the first container.</p>
        </div>
        
        <div class="card col-md-4 mb-4">
            <h1>Water Temperature</h1>
            <p>This is the first container.</p>
        </div>
    </div>

    <div class="row mt-5">
    </div>

    <footer>

    </footer>

    <!--js link-->
    <script text="text/javascript" src="{% static 'js\script.js' %}"></script>
    <!-- Bootstrap JS (optional, for certain components to work) -->
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>

