*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    font-family: 'Poppins', sans-serif;    
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #FFF;
    --text-color: #146F32;
    --main-color: #125A2A;
}
body{
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-y: scroll;
}

.head-title {
    display: fixed;
    padding: 0px 50px 0px 30px;
}
.head-title h1{
    font-size: 2.5rem;
    color: var(--main-color);
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
}
.head-title h3{
    font-size: 1.5rem;
    color: #000;
    font-family: 'Fredoka', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    height: 20%;
    top: 0;
    right: 0;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 28px, 12%;
    transition: all .50s ease;
    border: 0px solid #43D071;
    background: linear-gradient(180deg, #43D071 0%, rgba(67, 208, 113, 0.00) 100%);
    font-family: 'Assistant', sans-serif;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
    font-size: 3.0rem;
    font-weight: 500;
}
.logo span{
    color: var(--main-color);
    font-size: 2.7rem;
    font-weight: 1000;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.logout{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px solid rgba(3, 85, 20, 0.42);
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    background-color: #FFF;
    border-radius: 3px;
    border-color: #000;
    text-decoration: none;
}
.logout i{
    color: var(--main-color);
    font-size: 1.8rem;
    margin-right: 3px;
    font-weight: 600;
    justify-content: center;
}
.logout span{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.current_user{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px solid rgba(3, 85, 20, 0.42);
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    background-color: #FFF;
    border-radius: 3px;
    border-color: #000;
}
.user_profile{
    background-color: var(--main-color);
    border-radius: 50%;
}
.user_profile i{
    color: var(--bg-color);
}
.navbar{
    display: inline;
    margin-top: 25px;
    font-family: 'Assistant', sans-serif;
}
.navbar a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 1px;
    margin: 10px 20px;
    transition: all .50s ease;
}
.navbar a:hover{
    color:var(--main-color);
    text-decoration: underline;
    text-decoration-color: #125A2A;
}
.navbar a.active{
    color: #125A2A;
    text-decoration: underline;
    font-weight: bolder;
}

.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50 ease;
}

.row{
    padding: 0px 50px 0px 30px;
}

/* CSS for the container */
.col-md-12 {
    width: 100%; /* Adjust the width as needed */
    max-width: 348px; /* Maximum width if required */
    height: 180px; /* Adjust the height as needed */
    border-radius: 10px;
    border: 0px solid #43D071;
    background: linear-gradient(180deg, #43D071 0%, rgba(67, 208, 113, 0.00) 100%);
    transition: all .50 ease;
}

.col-md-12 h1{
    font-size: 4.0rem;
    color: var(--text-color);
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    padding: 40px;
    transition: all .50 ease;
}
.col-md-12 p{
    font-size: 1.2rem;
    padding: 0px 0px 5px 40px;
    font-weight:100;
    width: 55%;
    transition: all .50 ease;
}

.col-md-4{
    width: 100%; /* Adjust the width as needed */
    max-width: 348px; /* Maximum width if required */
    height: 180px; /* Adjust the height as needed */
    border-radius: 10px;
    border: 0px solid #43D071;
    background: linear-gradient(180deg, #43D071 0%, rgba(67, 208, 113, 0.00) 100%);
    transition: all .50 ease;
}

.container-img{
    position: fixed;
}

.container-img img{
    width: 220%;
}

/* Media query for screens with a maximum width of 768px (typical for tablets) */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
    /* You can also adjust other styles for smaller screens here */
}

/* Media query for screens with a maximum width of 480px (typical for smartphones) */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px; /* Further reduce font size for small screens */
    }
    /* Adjust other styles for even smaller screens */
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 1024px) {
    body {
        font-size: 18px; /* Increase font size for larger screens */
        /* Other styles for larger screens here */
    }
}